@page "/"

<h1>Counter</h1>

<p>Current count: @count</p>

<button @onclick="StartIncrementing">Increment</button>

@code {
    private int count = 0;

    private void StartIncrementing()
    {
        count++;
    }
}