@page "/"

<h1>Counter</h1>

<p>Current count: @count</p>

<button @onclick="StartIncrementing">Start Incrementing</button>

@code {
    private int count = 0;

    protected async Task StartIncrementing()
    {
        for (int i = 0; i < 10; i++)
        {
            count++;
            StateHasChanged();
            await Task.Delay(100);
        }
    }
}
